[submodule "server"]
	path = server
	url = https://github.com/vshaxe/haxe-language-server
[submodule "syntaxes"]
	path = syntaxes
	url = https://github.com/vshaxe/haxe-TmLanguage
[submodule "eval-debugger"]
	path = eval-debugger
	url = https://github.com/vshaxe/eval-debugger
