[submodule "server"]
	path = server
	url = https://github.com/kLabz/haxe-languageserver
	branch = poc/server-recording-with-prs
[submodule "syntaxes"]
	path = syntaxes
	url = https://github.com/vshaxe/haxe-TmLanguage
[submodule "eval-debugger"]
	path = eval-debugger
	url = https://github.com/vshaxe/eval-debugger
