[submodule "server"]
	path = server
	url = https://github.com/vshaxe/haxe-languageserver
[submodule "vscode-extern"]
	path = vscode-extern
	url = https://github.com/vshaxe/vscode-extern
[submodule "syntaxes"]
	path = syntaxes
	url = https://github.com/vshaxe/haxe-TmLanguage
