*
*/**
!bin/client.js
!server/bin/server.js
!configurations/*
!images/demo.gif
!images/haxe-logo.png
!node_modules/**/*
!resources/**/*
!scaffold/**/*
!syntaxes/haxe.tmLanguage
!syntaxes/hxml.tmLanguage
!CHANGELOG.md
!LICENSE.md
!package.json
!README.md
!server_wrapper.js
