*
*/**
!bin/client.js
!server/bin/server.js
!eval-debugger/bin/adapter.js
!configurations/*
!images/**
!scaffold/**/*
!schemas/*.json
!syntaxes/**/*.tmLanguage
!CHANGELOG.md
!LICENSE.md
!package.json
!README.md
!server_wrapper.js
