src/**/*
src-api/**/*
server/**/*
formatter/**/*
vscode-extern/**/*
.vscode/**/*
syntaxes/**/*
!syntaxes/*.tmLanguage
.travis.yml
.gitignore
.gitmodules
bin/*.map
bin/test.js
*.hxml
node_modules/**/*.ts
images/Main.hx
.github/**/*
.haxelib/**/*
vshaxe-build.json
debug.log
ReleaseHaxelib.hx
README-haxelib.md
